/* Font Faces */
@font-face {
    font-family: 'Charlie Display';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(assets/fonts/Charlie_Display-Semibold.woff2) format('woff2');
}

@font-face {
    font-family: 'Charlie Display';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(assets/fonts/Charlie_Display-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Charlie Text';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(assets/fonts/Charlie_Text-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Charlie Text';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(assets/fonts/Charlie_Text-Semibold.woff2) format('woff2');
}

a {
  color: rgb(0, 82, 204);
}

@media screen and (max-width: 992px) {
  button[aria-label="Log in"] {
    width: 100%;
    border: 1px solid blue;
  }
  button[aria-label="Get Trello"] {
    width: 100%;
    border: 1px solid blue;
  }
}

.ctext-bold {
  font-family: 'Charlie Text', sans-serif !important;
  font-weight: 500;
}

.display-text-toobold {
  font-family: 'Charlie Display', sans-serif !important;
  font-weight: 700;
}

body {
  font-family: 'Charlie Text', sans-serif !important;
  font-weight: 400;
}

.navbar.scrolled {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Charlie Display' !important;
  font-weight: 500;
}


.nav-link {
  color: black !important;
}

.nav-link.active {
  color: blue !important;
}

.nav-link:hover {
  color: blue !important;
}

@media screen and (max-width: 992px) {
  .navbar-nav li {
    padding: 10px 0px;
    border-bottom: 1px solid rgb(200, 200, 200, 0.5);
  }

  .navbar-nav {
    border-top: 1px solid rgb(200, 200, 200, 0.9)
  }
}

.bg-othercolor {
  background-color: #deebff;

}

.hero-page {
    background-color: rgb(244, 245, 247) !important;
    color: rgb(9, 30, 66) !important;
}

.carousel-wrapper {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.carousel-inner-bg {
  width: 100%;
  height: 100%;
  background-color: #f1f2f4;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 10px;
  transition: background-image 0.5s ease;
}

.left-btn {
  border-radius: 10px;
  box-shadow: 0 5px 10px white;
  border-left: 10px solid#ffffff00;
  padding: 10px 20px;
  margin: 10px 20px;
  color: black;
}

.left-btn.active {
  border-radius: 10px;
  box-shadow: 0 5px 10px lightgray;
  border-left: 10px solid #00c7e5;
}


.carousel-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #091e42;
  border: none;
  transition: all 0.3s ease;
}

.carousel-dot.active {
  width: 50px;
  border-radius: 25px;
  background-color: #848ea0;
}


.left-btn-carousel {
  width: 100%;
}

.carousel-left-inner {
  display: flex;
  transition: transform 0.5s ease;
  width: 300%; /* 3 items */
}

.left-btn-carousel .left-btn {
  min-width: 100%;
  margin: 0 5px;
  flex-shrink: 0;
}

.carousel-btn {
  margin: 20px 10px;
  border-radius: 10px;
  box-shadow: 0 5px 10px lightgray;
  border-left: 10px solid #00c7e5;
}

.mta {
  background-color: #0065ff;
  height: 120vh;
}

img {
  width: 100%;
  display: inline-block;
  object-fit: cover;
}

.mta-children {
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}


.mta-children.position-absolute {
  top: 75%;
  left: 0;
  width: 100% !important;
  margin: auto;
}

.mta .container {
  height: 120vh;
}

@media screen and (max-width: 992px) {
  .mta-children.position-absolute {
    top: 98%;
  }
  .mta {
    height: 150vh !important;
  }
  .work-smart .container {
    margin-top: 53vh !important;
  }
}

@media screen and (min-width: 1900px) {
  .mta-children.position-absolute {
    top: 68%;
  }
  .mta {
    height: 120vh !important;
  }
  .work-smart .container {
    margin-top: 15vh !important;
  }
}


.work-smart .container {
  margin-top: 30vh;
}

.carousel-card {
  border-radius: 10px !important;
  margin-bottom: 2%;
}


.testimonials .col-lg-4 {
  background-color: #0747a6;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


@media screen and (max-width: 992px) {
  .testimonials .col-lg-4 {
    background-color: #0747a6;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
   }
}

.testi-btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #091e42;
  border: none;
  transition: all 0.3s ease;
}

.testi-btn.active {
  width: 50px;
  border-radius: 25px;
  background-color: #848ea0;
}

.w-75 {
  width: 80% !important;
}

.sign-up {
  background-color: #f4f5f7;
  margin: 0 auto;
  padding: 3% 5%;
}

@media screen and (max-width: 768px) {
  .sign-up {
    background: linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
    color: white;
  }

  .sign-up a {
    color: white;
  }
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}

@media screen and (max-width: 992px) {
  .footer-nav > div {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4) !important;
  } 
}

.horizontal-line {
  height: 10px;
  width: 100%;
  background-color: white;
  margin: 10px;
}

.icon-social {
  border: 2px solid white !important;
  border-radius: 50% !important; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 0.4rem;
  cursor: pointer;
}

.icon-social svg {
  width: 1rem;
  height: 1rem;
  transition: width 0.1s ease, height 0.1s ease;
}

.icon-social:hover svg{
  width: 0.8rem;
  height: 0.8rem;
}

select {
  max-width: 200px;
  color: white !important;
  border: none !important;
  padding-right: 30px; 
  background: #172b4d url('assets/images/icons8-expand-arrow-30.png') no-repeat right 10px center !important;
  background-size: 20px !important;
}

.small-text {
  font-size: 0.8rem !important;
}

.social-media {
  gap: 1.9rem !important;
}

footer .col-lg:hover {
  background-color: rgb(100, 100, 100, 0.2);
  border-radius: 4px;
}


@media screen and (min-width: 992px) {
  .add-border-top {
    border-top: 1px solid gray;
  }
}