/* Font Faces */
@font-face {
    font-family: 'Charlie Display';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(assets/fonts/Charlie_Display-Semibold.woff2) format('woff2');
}

@font-face {
    font-family: 'Charlie Display';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(assets/fonts/Charlie_Display-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Charlie Text';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(assets/fonts/Charlie_Text-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Charlie Text';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(assets/fonts/Charlie_Text-Semibold.woff2) format('woff2');
}


.ctext-bold {
  font-family: 'Charlie Text', sans-serif !important;
  font-weight: 500;
}

.display-text-toobold {
  font-family: 'Charlie Display', sans-serif !important;
  font-weight: 700;
}

body {
  font-family: 'Charlie Text', sans-serif !important;
  font-weight: 400;
}

.navbar.scrolled {
  box-shadow: 0 5px 10px lightgray;
  transition: box-shadow 0.3s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Charlie Display' !important;
  font-weight: 500;
}


.nav-link {
  color: black !important;
}

.active {
  color: blue !important;
}

.nav-link:hover {
  color: blue !important;
}


.hero-page {
    background-color: rgb(244, 245, 247) !important;
    color: rgb(9, 30, 66) !important;
}